#search-header {
  border: 2.5px solid #6b11ff;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  text-align: center;
  color: #6b11ff;
  background-color: white;
}

.background {
  background: url("lukasz-lada-LtWFFVi1RXQ-unsplash.jpg");
  background-size: cover;
}
.past-styling {
  text-align: center;
  padding: 6px 2px;
  margin: 4px 5px;
  background-color: #6b11ff;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.past-styling:hover {
  background-color: transparent;
  background-image: linear-gradient(90deg, blue, purple, red);
}

.styling-cold {
  text-align: center;
  border: 2.5px solid rgba(14, 130, 218, 0.742);
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background-image: linear-gradient(white, rgb(181, 195, 241), rgb(0, 163, 251), rgb(0, 109, 251), rgb(0, 17, 251), rgb(0, 14, 209));
  color: white;
}

.styling-hot {
  text-align: center;
  border: 2.5px solid rgba(255, 89, 0, 0.742);
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background-image: linear-gradient(white, rgb(255, 251, 142), rgb(255, 195, 65), rgb(251, 140, 49), rgb(203, 18, 18), rgb(166, 40, 5));
  color: white;
}

.current-styling-cold {
  text-align: center;
  border: 2.5px solid rgba(14, 130, 218, 0.742);
  padding: 0 100px;
  padding-bottom: 15px;
  margin: 15px 2px 2px 2px;
  border-radius: 8px;
  cursor: pointer;
  background-image: linear-gradient(white, rgb(181, 195, 241), rgb(0, 163, 251), rgb(0, 109, 251), rgb(0, 17, 251), rgb(0, 14, 209));
  color: white;
}

.current-styling-hot {
  text-align: center;
  border: 2.5px solid rgba(218, 31, 14, 0.742);
  padding: 0 100px;
  padding-bottom: 15px;
  margin: 15px 2px 2px 2px;
  border-radius: 8px;
  cursor: pointer;
  background-image: linear-gradient(white, rgb(255, 251, 142), rgb(255, 195, 65), rgb(251, 140, 49), rgb(203, 18, 18), rgb(166, 40, 5));
  color: white;
}

@media screen and (max-width: 1342px) {
  .styling-cold {
    padding: 3px;
    margin: 2px;
  }
  .styling-hot {
    padding: 3px;
    margin: 2px;
  }
}

@media screen and (max-width: 1240px) {
  .styling-cold {
    padding: 2px;
    margin: 2px;
  }
  .styling-hot {
    padding: 2px;
    margin: 2px;
  }
}

@media screen and (max-width: 1228px) {
  #search-header {
    display: none;
  }
  .past-styling {
    display: none;
  }
  .styling-cold {
    padding: 4px;
    margin: 5px;
  }
  .styling-hot {
    padding: 4px;
    margin: 5px;
  }
}
